* {
  box-sizing: border-box;
}

html {
  --primary-color: #0f1b4c;
  font-family: "Poppins", "sans-serif";
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Common */

a {
  text-decoration: none;
}

.mt30 {
  margin-top: 30px;
}

.mt18 {
  margin-top: 18px;
}

.btn {
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.content {
  width: 1110px;
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.root {
}

/* =============================================== Header ==================== */
#header {
  background-color: #e6f0ff;
  height: 736px;
  position: relative;
}

.navbar {
  display: flex;
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: auto;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 64px;
}

.navbar ul a {
  margin-right: 28px;
  color: #4f5361;
  font-size: 1.4rem;
}

.navbar__logo {
}

.navbar .action {
  margin-left: auto;
  color: #fff;
}

.action .action__sign-in {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.action .action__sign-up {
  margin-left: 18px;
  border-radius: 8px;
  padding: 13px 16px;
}

.hero {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: auto;
}

.hero__info {
  margin-top: 130px;
  width: 50.4%;
}

.hero__info-sub {
  font-size: 1.8rem;
  color: #687690;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

.hero__info-title {
  font-size: 6.3rem;
  font-weight: 700;
  line-height: 1.19;
  margin-top: 8px;
}

.hero__info-desc {
  font-size: 1.8rem;
  color: #687690;
  line-height: 32px;
}

.hero-cta {
  margin-top: 40px;
  min-width: 170px;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}

/* =============================================== Clients ==================== */
#clients {
  margin-top: 122px;
}

#clients .content .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25rem;
}

#clients .content .sponsor-img {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
}

/* =============================================== Guides ==================== */

.guides {
  margin-top: 174px;
}

.guide__title {
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
}

.guide__title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

.guide__desc {
  width: 44.6%;
  margin: auto;
  text-align: center;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875;
  margin-top: 20px;
}

.guide-list {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  color: #3b3c45;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 26px;
}

.guide-item .link {
  color: #0689ff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 10px;
  display: inline-block;
}

.guide-cta {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

/* =============================================== Features ==================== */

.features {
  background: #f5fafe;
  padding: 110px 0;
}

.features__title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px;
}

.features__desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
}

.features .link {
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  margin-top: 70px;
  flex: 1;
}

.thumb {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.feature-item .body {
  padding: 17px 20px;
  background-color: #fff;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.feature-item .title {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  -webkit-line-clamp: 1;
}

.feature-item .sub-title {
  color: #a3a6ab;
  font-size: 1.4rem;
  margin-top: 11px;
  -webkit-line-clamp: 2;
  word-break: break-all;
}

.feature-item .info {
  margin-top: 21px;
}

.feature-item .icon {
  margin-left: 22px;
}

.feature-item .icon:first-child {
  margin-left: 0;
}

.feature-item .label {
  color: #444;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  margin-left: 8px;
}

/* =============================================== Stats ==================== */

#stats {
  padding-top: 125px;
}

#stats .row-gap {
  display: flex;
  gap: 165px;
}

.demo {
  width: 520px;
  position: relative;
}

.demo__img {
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  margin-left: auto;
}

.info {
  width: 310px;
}

.info__title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.39em;
  position: relative;
}

.info__title::before {
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  top: -10px;
}

.info__desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.875em;
}

.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  min-height: 252px;
  padding: 45px 22px 40.5px;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.trend__quantity {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.26px;
}

.trend__icon {
}

.trend__desc {
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 8px;
}

.separate {
  display: block;
  height: 1.2px;
  background: #e9e9e9;
  margin-top: 25.5px;
}

.avt-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16.34px 0;
  margin-top: 25.8px;
  margin-left: -14px;
}

.avt-group {
  display: flex;
  margin-left: 14px;
}

.avt-item {
  width: 16.337px;
  height: 16.337px;
  flex-shrink: 0;
  border-radius: 16.337px;
  margin-left: -3px;
}

.qty-row {
  margin-top: 110px;
}

.qty-item {
}

.qty-item .title {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1;
}

.qty-item .desc {
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 24px;
}
